
.form{
    width: 100%;
    display: flex;
    flex-direction: column;

}

.form-transition{
    width: 0;
    opacity: 0;

    transition: all ease-in-out 0.5s;
}

.form-transition.enter-active{

    width: 500px;
}
.form-transition.enter-done{
    width: 500px;
    opacity: 1;
}

.form-transition.exit-active{
    width: 500px;
    opacity: 0;
}

.form-transition.exit-done{
    width: 0;
    
    opacity: 0;
}



.form__label{
    width: 50%;
    height: 60px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-bottom: 20px;
}

.form input::-webkit-outer-spin-button,
.form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form input[type=number] {
  -moz-appearance: textfield;
}

.form__label input{

    height: 25px;
    width: 100%;

    padding-left: 10px;
    padding-right: 10px;

    text-transform: uppercase;
    font-family: 'Helvetica Neue';
    font-size: 15px;

    outline: none;
    border: none;

    border: 1px solid #B2B6C6;
    border-radius: 5px;

    transition: all ease-in-out 0.2s;
}

.form__label input:focus{
    outline: none;

    box-shadow: 0px 0px 0px 1px #B2B6C6;
}

.form__button{
    min-height: 50px;
    width: 150px;

    padding: 10px;

    border-radius: 10px;

    box-shadow: none;

    border: 1px solid #BBBFCD;
}

.label__text{
    text-transform: uppercase;
    font-family: 'Helvetica Neue';
    font-size: 20px;
    color: #B2B6C6;
}