.tree-child__container{
    margin-left: 50px;
    margin-top: 30px;

    background-image: none;

    /* transform: translate(-100px, 0); */

    transition: all ease-in-out 0.5s;
}

.last-child{
    box-shadow: none;
    border: 1px solid #BBBFCD;
}

.css-transition,
.child-leave-exit-active{
    opacity: 0;
    transform: translate(0, 0);
    
    transition: all ease-in-out 0.5s;

}
.child-leave-enter-active,
.child-leave-enter-done{
    opacity: 1;
    transform: translate(50px, 0);

}