.main-branch__container{
    width: 300px;
    min-height: 100px;
    max-height: fit-content;

    

    margin-left: 50px;
}

.main-branch__text{
    width: 100%;
    min-height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: blueviolet;
    text-transform: uppercase;
}
