.main-branch__container{
    margin-left: 50px;
    margin-top: 30px;
    
    opacity: 0;

    transition: all ease-in-out 0.5s;

    transform: translate(-100px, 0);
}

.branches-enter-active,
.branches-enter-done,
.leaves-enter-active,
.leaves-enter-done{
    opacity: 1;
    transform: translate(0, 0);
}

.branches-exit-done,
.leaves-exit-done{
    opacity: 0;

    transform: translate(-100px, 0);
}

.leaves{
    transform: translate(0, 0);
    opacity: 0;

    display: none;

    transition: all ease-in-out 0.5s;
}

.leaves.enter-active{
    display: block;
}

.leaves.enter-done{
    transform: translate(100px, 0);
    opacity: 1;

    display: block;
    transition: all ease-in-out 0.5s;
    
}

.exit{
    transform: translate(100px, 0);
    opacity: 1;

    display: block;
}

.leaves.exit-active{
    transform: translate(0, 0);
    opacity: 0;

    display: block;

}

.leaves.exit-done{
    display: none;
}
